<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-lg-12">
                    <label for="" class="form-label">Patient Id</label>
                    <input name="patient_id" [(ngModel)]="patient_id"  type="text" class="form-control">
                </div>
                <div class="col col-12 col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-lg-12">
                    <label for="" class="form-label">Name</label>
                    <input name="patient_name" [(ngModel)]="patient_name"  type="text" class="form-control">
                </div>
                <div class="col col-12 col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-lg-12">
                    <label for="" class="form-label">Contact Number</label>
                    <input name="contact_no" [(ngModel)]="contact_no" type="text" class="form-control">
                </div>
                <div class="col col-12 col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-lg-12">
                    <label for="" class="form-label">Doctor Name</label>
                    <input name="doc_name" [(ngModel)]="doc_name" type="text" class="form-control">
                </div>
                
                <div class="col col-12 col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-lg-12 text-center">
                    <button  class="btn btn-success" (click)="read()">ADD</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
